html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Shafarik", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #F0EAD2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}